

.container {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 48px;
    max-width: 1312px;
}

.breadcrumb ol {
    display: flex;
    align-items: center;
    position: relative;
}

* {
    box-sizing: border-box;
}

ol {
    list-style-position: inside;
}

#wrapper {
    position: relative;
    padding-top: 100px;
}

.breadcrumb li a {
    cursor: pointer;
    pointer-events: inherit;
    font-size: 14px;
    color: #707070;
}

.breadcrumb li {
    display: inline-block;
    position: relative;
    padding: 0 0 0 8px;
    list-style: none;
    vertical-align: middle;
}
.breadcrumb .button {
 
    line-height: 1;
    font-size: 14px;
    color: #707070;
}

.button {
    text-align: center;
    white-space: nowrap;
}

.breadcrumb li.is-active .button {
    color: #d50037;
    font-weight: 600;
    cursor: pointer;
    pointer-events: inherit;
}


.title-h1 {
    font-size: 72px;
    font-weight: 700;
    color: #000;
    line-height: 1.5;
    flex-grow: 1;
}

:-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.title-black {
    font-weight: 800;
}

.title-h2 {
    font-size: 56px;
    color: #000;
    line-height: 1.5;
    flex-grow: 1;
}

h2 {
    display: block;
    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title-h4 {
    font-size: 32px;
    font-weight: 700;
    color: #000;
    line-height: 1.5;
    flex-grow: 1;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.flex-list .flex-item {
    padding-right: 55%;
    flex: 1 1 40%;
}


body {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

.flex-list .flex-item {
    padding-right: 55%;
    flex: 1 1 40%;
}

.flex-list-bi .desc {
    margin-top: 60px;
    font-size: 18px;
    color: #333;
    word-break: keep-all;
}

/* .flex-item img{
    max-width: 100%;
    height: auto;
    width: 479px;
    z-index: -9990;
} */


.flex-list-bi {
    margin-bottom: 120px;
    background-image: url(../images/bi_img_illust_p.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto 246px;
}

ul[class] {
    list-style: none;
}

.box-list {
    margin: 24px -24px 24px -16px;
    font-size: 0;
}

/* ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */

.box-list.type-bi>li {
    display: inline-flex;
    position: relative;
    min-height: 400px;
    align-items: center;
    justify-content: center;
}

.box-list.__layout2>li {
    width: calc(100% / 2 - 35px);
}


.box-list>li {
  
    margin: 0 16px;
    padding: 48px 20px 42px;
    border: 1px solid #d6d6d6;
    text-align: center;
    vertical-align: top;
}

.span-tag {
    position: absolute;
    top: 8px;
    left: 0;
    display: flex;
    width: 72px;
    height: 24px;
    background-color: #000;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.box-list.type-bi>li:first-child img {
    max-width: 396px;
    width: 90%;
    height: auto;
}

img {
    border: 0;
    vertical-align: middle;
}

.box-bi-gradient {

    display: flex;
    position: relative;
    padding: 80px 15px;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient( 135deg,
 #fffbfb 0%, #eaf0ef 100%);
   
}

.box-bi-gradient .title {
    position: relative;
    z-index: 0;
    font-size: 56px;
    font-weight: 800;
    color: #000;
    line-height: 84px;
    text-align: center;
    margin-bottom: 32px;
}

.box-bi-gradient .desc {
    position: relative;
    z-index: 0;
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #000;
    text-align: center;
}

.box-bi-gradient em {
    color: #d50037;
    font-size: 60px
}

.box-bi-gradient .title {
    font-size: 56px;
    font-weight: 800;

    line-height: 84px;
    text-align: center;

}

