.container {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 48px;
    max-width: 1312px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

.title-h1 {
    font-size: 72px;
    font-weight: 700;
    color: #000;
    line-height: 1.5;
    flex-grow: 1;
}

.brochure-list li {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 360px;
    margin-top: 64px;
}

.brochure-list-title {
    display: block;
    margin-bottom: 64px;
    color: #000;
    font-size: 40px;
}

.brochure-list li:after {
    content: "";
    display: block;
    width: 100%;
    min-height: 360px;
    margin-left: 95px;
    background-image: url(../images/img_brochure_1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    flex-shrink: 1;
}

*::after {
    box-sizing: inherit;
}

.brochure-list .button-brch-download:hover {
    border-color: #333;
    background-color: #333;
    color: #fff;
}

.brochure-list .button-brch-download {
    min-width: 217px;
    border: 2px solid #000;
}

.button.is-large {
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    font-weight: 600;
}

.button {
    cursor: pointer;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    -webkit-appearance: none;
    align-items: center;
    box-shadow: none;
 
}

.brochure-list li .brochure-list-inner {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 259px;
}

.brochure-list li:nth-child(2):after {
    background-image: url(../images/img_brochure_2.jpg);
}

.brochure-list li:nth-child(3):after {
    background-image: url(../images/img_brochure_3.jpg);
}

.brochure-list-bottom {
    margin-top: 64px;
    padding: 24px;
    background-color: #f5f5f5;
    color: #707070;
}

.dot-list.is-small>li {
    font-size: 14px;
    color: #707070;
    text-align: left;
}

.dot-list>li:first-child {
    margin-top: 0;
}

.dot-list>li {
    position: relative;
    padding: 2px 0 2px 10px;
    line-height: 1.5;
    vertical-align: top;
    word-break: keep-all;
    word-wrap: break-word;
}