.container {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 48px;
    max-width: 1312px;
}

div {
    display: block;
}

.title-h1 {
    font-size: 130px;
    font-weight: 700;
    color: #000;
    line-height: 1.5;
    flex-grow: 1;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

* { box-sizing: border-box;}



/*  <div class="title-wrap content-title-wrap">
                            <h1 class="title-h1">연혁</h1>
                        </div>   */

 
 
 
 body {

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}



 section {
    font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","ë§‘ì€ ê³ ë”•",arial,sans-serif;
    }


.history-intro-text .desc {
     margin-bottom: 28px;
    }
    
p {
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   margin: 0;
   padding: 0;
    }    


.history-intro {
       
        display: flex;
        margin-top: 30px;
        align-items: flex-start;
    }
.history-intro-text {
    padding-right: 60px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 58%;
    word-break: keep-all;
    }    

body {
        font-size: 18px;
        color: #333;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }    

/* ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    } */

  

    * {
        box-sizing: border-box;
    }

   
    
    html{
        text-size-adjust: 100%;
    }

    img {
        height: auto;
        max-width: 100%;
        border: 0;
        vertical-align: middle;
    }

    .history-intro-image {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 42%;
        max-width: 100%;
        height: auto;
        width: 480px;
        z-index: -9999;
    
    }


   

    .history-brand-list .desc {
        font-size: 24px;
        color: #000;
    }

    .history-brand-list .image img {
        width: 300px;
        height: auto;
    }

    .history-brand-list>li:first-child {
        margin-top: 0;
    }

    .history-brand-list>li {
        margin-top: 80px;
        align-items: center;
    }

    /* 그레이 박스 */

    .section-history-list {
        position: relative;
        overflow: hidden;
        height: auto;
        top: inherit;
        margin: 120px 0;
        padding: 120px 0;
        transition: all .5s;
    }

    .section-bg {
        background-color: #f5f5f5;
    }



    /*그레이박스 아래 수상내역*/

    .title-h3 {
        font-size: 40px;
        font-weight: 700;
        color: #000;
        line-height: 1.5;
        flex-grow: 1;
    }

    h3 {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      
    }
    
    
    h3{
        margin: 0;
        padding: 0;
    }

    .history-brand .title-h2 {
        font-weight: 600 !important;
    }

    
    .font-mark {
        font-family: "Mark Pro" !important;
       
    }

    .color-red {
        color: #d50037 !important;
    }

    .title-h2 {
        font-size: 56px;
        color: #000;
        line-height: 1.5;
        flex-grow: 1;
        
         }
     
     h2{
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        
    
     }  

     .font-mark {
        font-family: "Mark Pro" !important;
        
    }

     
    .history-brand {

        display: flex;
        align-items: flex-start;
    }

    .mb64 {
        margin-bottom: 64px;
    }

    .history-brand .flex-item {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .history-brand-list .desc {
        font-size: 24px;
        color: #000;
    }

    .history-brand-list .image {
        display: block;
        width: 300px;
        margin-top: 20px;
    }

    .history-brand-list .image img {
        width: 100%;
        height: auto;
    }

    img {
        border: 0;
        vertical-align: middle;
        max-width: 100%;
    }