.notice{
    /* border: 1px solid black; */
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 0;
}

/* .smallmenu {
    border: 1px solid black;
    display: block;
    height: 20px;
}
.smallmenu p{
    line-height: 20px;
} */

.dot{
    border:1.5px solid black;
    display:inline-block;
    margin: 0px 4px 3px 4px;
    background-color: black;
}
.smallmenuBox > .smallmenu .smallmenuitem{
    font-size: 14px;
}
.smallmenuBox > .smallmenu > .gomain{
    color:#808080;
}
.smallmenuBox > .smallmenu > .gobrand{
    color:#dc2d5a;
    font-weight: bolder;
}

.notice .title-wrap{
    margin-top: 20px;
    display: block;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.5;
    width: 100px;
    height: 30px;
    flex-grow: 1;
    box-sizing: border-box;
}

.notice #title-h1{
    display: inline-block;
    padding-top: 20px;
    margin-top: 40px;
    font-size: 73px;
    font-weight: 720;
    line-height: 1.5;
    width: 1000px;
    height: 80px;
    flex-grow: 1;
    box-sizing: border-box;
    letter-spacing: 3px;
}

.seacrhbar-wrap{
    /* border: 1px solid black; */
    display: block;
    height: 30px;
   
}

.seacrhbar-wrap .seacrhbar{
    text-align: right;
    line-height: 30px;
    margin-top: 50px;
    padding-right: 100px;
    margin-bottom: 40px;
}

select#searchType {
    width: 100px;
    padding-left: 0;
    padding-right: 20px;

    height: 56px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;

}

span.search-board-input.input{
    padding-left: 24px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: inline;
}
input#searchTxt{
    height: 56px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
    color: #333;
    line-height: normal;

}
.bodycontainer .bbs-list{
    margin-top: 0.6px;
}


.bodycontainer .bbs-list span#num{
    float: left;
    display: table-cell;
    height: 116px;
    position: relative;
    line-height: 116px;
    width: 90px;
    padding: 0px 32px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.bodycontainer .bbs-list strong#subject{
    float: left;
    position: relative;
    padding-right: 24px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: left;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    display: table-cell;
    width: 900px;
    height: 116px;
    line-height: 116px;
    padding-right: 24px;
}
.bodycontainer .bbs-list strong#subject p{
    padding-right: 24px;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 400;
}


.bodycontainer .bbs-list span#date{
    display: table-cell;
    width: 170px;
    padding: 0px 32px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    vertical-align: middle;
    height: 113px;
    line-height: 113px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    position: relative;
}


.bodycontainer .bbs-list span#date p{
    color:#999;
    letter-spacing: 0.3px;
    font-size: 15px;
}












/* 페이지네이션 */
.pagination-wrap {
    margin: 40px auto;
    text-align: center;
}
.pagination, .pagination-list {
    display: inline-flex;
    text-align: center;
    font-size: 0;
    margin: 0 -3px;
}
.button.is-black.is-outlined[disabled], 
fieldset[disabled] .button.is-black.is-outlined {
    background-color: #f5f5f5;
    border-color: #ebebeb;
    color: #999;
}
.button.is-black.is-outlined {
    background-color: transparent;
    border-color: #333;
    color: #000;
}
.pagination .button-board, .pagination-list .button-board {
    margin: 0 3px;
}
.button-board[disabled] {
    opacity: 1;
    border-color: #d6d6d6 !important;
    background-color: #fff !important;
}
.button.is-outlined {
    background-color: #fff;
    border-color: #ccc;
    border-width: 1px;
}
[disabled].pagination-link, [disabled].pagination-ellipsis, 
[disabled].button, fieldset[disabled] .pagination-link, 
fieldset[disabled] .pagination-ellipsis, 
fieldset[disabled] .button {
    cursor: not-allowed;
    pointer-events: none;
}
.button-board {
    width: 32px;
    height: 32px;
    padding: 0;
}
.button {
    color: #000;
    cursor: pointer;
    vertical-align: middle;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
}


.button-board[disabled] i {
    color: #d6d6d6;
}
.button-board i {
    font-size: 16px;
}
[class^=ico-], [class*=" ico-"] {
    font-family: "iconset" !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-angle-dd-left:before {
    content: "<<";
}
.ico-angle-left:before {
    content: "<";
}
.ico-angle-dd-right::before {
    content: ">>";
}
.ico-angle-right::before {
    content: ">";
}
.pagination .is-centered{
    width: 100%;
}
.sr-only, .is-sr-only {
    border: none !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 0.01em !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 0.01em !important;
}
ul[class], ol[class] {
    list-style: none;
}
.pagination-list {
    flex-wrap: wrap;
    margin: 0 12px;
}
.pagination, .pagination-list {
    display: inline-flex;
    text-align: center;
    font-size: 0;
    margin: 0 -3px;
}
.pagination-list li {
    display: inline-block;
}

.pagination-link.is-current {
    font-weight: 600;
    color: #000;
    text-decoration: underline;
}
.pagination .pagination-link, .pagination-list .pagination-link {
    margin: 0 2px;
}
.pagination-link {
    color: #999;
    min-width: 25px;
    outline: none;
}
.pagination-link, .pagination-ellipsis {
    display: inline-flex;
    height: 32px;
    justify-content: center;
    vertical-align: middle;
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    font-size: 14px;
}






















/* 공지사항1번페이지 */
.ui-bbs-view{
    width: 1200px;
    height: 750px;
    border-bottom: 1px solid #cbcbcb;
}
#title-h3 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    line-height: 1.5;
    flex-grow: 1;
    margin-top: 80px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

div.ui-bbs-view p.date{
   padding-bottom: 30px;
   border-bottom: 1px solid #cbcbcb;
   margin-bottom: 55px;
   letter-spacing: 0.5px;
   font-size: 15px;
}
.ui-bbs-view{
    height: 2000px;
}
.ui-bbs-content{
    width: 1200px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #cbcbcb; */
    margin-bottom: 85px;
    float: left;
}

.ui-bbs-content p{
    margin-bottom: 30px; 
    line-height: 30px;
    font-size: 19px;
    font-weight: 200;
}

.ui-bbs-content p.num{
    margin-bottom: 0px; 
    line-height: 30px;
    font-size: 19px;
    font-weight: 200;
}

.ui-bbs-content span{
    color: red;
}

.ui-bbs-content p.smallbox{
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: rgb(204, 204, 204);
}


.buttons{
    /* border-top: 1px solid #cbcbcb; */
    margin-top: 30px;
    padding-top: 60px;
    display: block;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.buttons .button.is-cmd.is-large {
    margin-bottom: 0;
    border: 2px solid #333;
    color: #000;
    padding: 18px 90px;
    /* position: relative; */
    /* transition: color .3s cubic-bezier(0.16, 0.04, 0.03, 0.95); */
    cursor:pointer;
    vertical-align: middle;
    justify-self: center;
    white-space: nowrap;
    display: inline-flex;
    /* overflow: hidden; */
    -webkit-appearance: none;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
}




.ui-bbs-nav{
    margin-top: 80px;
    display: block;
    float: left;
}

.ui-bbs-nav dl:first-child{
    border-bottom: none;
}

.ui-bbs-nav dl{
    display: flex;
    width: 1200px;
    height: 90px;
    align-items: center;
    padding: 0 32px;
    border-top: 1px solid #ebebeb;
}

dl{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div.ui-bbs-nav dt{
    flex: 0 0 40px;
    font-size: 14px;
    line-height: 1;
    color: #707070;
}

div.ui-bbs-nav dd{
    display: flex;
    width: calc(100% - 40px);
    align-items: center;
    padding: 24px 32px;
}


.ui-bbs-nav-prev {
    width: 1200px;
    height: 90px;
    color: #333333;
    padding: 0px 32px;
}
.ui-bbs-nav-next {
    width: 1200px;
    height: 90px;
    color: #333333;
    padding: 0px 32px;
}

/* 공지사항 2페이지 */
.ui-bbs-view2{
    width: 1200px;
    height: 900px;
    border-bottom: 1px solid #cbcbcb;
}
div.ui-bbs-view2 p.date{
    padding-bottom: 30px;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 55px;
    letter-spacing: 0.5px;
    font-size: 15px;
 }

 