.container {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 48px;
    max-width: 1312px;
}

div{
    font-family: "Noto Sans KR", "Noto+Sans", "Malgun Gothic", "맑은 고딕", arial, sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

body{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

:root {
    --swiper-theme-color: #007aff;
}

:root {
    --swiper-navigation-size: 44px;
}

.title-h1 {
    font-size: 72px;
    font-weight: 700;
    color: #000;
    line-height: 1.5;
    flex-grow: 1;
}

h1{
    margin: 0;
    padding: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}

section {
    display: block;
}

body{
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

.tabs ul {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
}

ol, ul {
    list-style-position: inside;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-position: inside;
}

div.container{
    font-family: "Noto Sans KR", "Noto+Sans", "Malgun Gothic", "맑은 고딕", arial, sans-serif;
}

nav.tabs.ui-tabs-nav.font-20{
    font-size: 20px;
}

.tabs ul {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
}

.tabs li {
    display: block;
}

.tabs li.is-active a, .tabs li.is-active .tab {
    border-bottom: 2px solid #d50037;
    font-weight: 700;
    color: #d50037;
}

.tabs .tab {
    cursor: pointer;
    border: initial;
    background-color: initial;
}

.tabs a, .tabs .tab {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em 0 0.2em;
    vertical-align: top;
}

a {
    text-decoration: inherit;
}

.title-h3 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    line-height: 1.5;
    flex-grow: 1;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.section-text {
    margin-bottom: 64px;
}

section {
    display: block;
}

.section-text p.desc.is-normal {
    font-weight: 400;
}

.section-text p.desc {
    color: #000;
    font-size: 24px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.box-list {
    margin: 24px -24px 24px -16px;
    font-size: 0;
}

ul[class] {
    list-style: none;
}

.box-list.__layout3>li {
    width: calc(100% / 3 - 35px);
}

.box-list>li {
    display: inline-block;
    margin: 0 16px;
    padding: 48px 20px 42px;
    border: 1px solid #d6d6d6;
    text-align: center;
    vertical-align: top;
}


.box-list>li .title {
    display: block;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #d50037;
    font-size: 24px;
    word-break: keep-all;
    word-wrap: break-word;
}


.icon-welfare-1 {
    width: 96px;
    height: 96px;
    background: url(../images/ico_welfare_1.jpg) 50% 50% no-repeat;
}

.icon-welfare-2 {
    width: 96px;
    height: 96px;
    background: url(../images/ico_welfare_2.jpg) 50% 50% no-repeat;
}

.icon-welfare-3 {
    width: 96px;
    height: 96px;
    background: url(../images/icon/ico_welfare_3.svg) 50% 50% no-repeat;
}